@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=IM+Fell+DW+Pica:ital@1&family=Montserrat:wght@300;400;500&family=Noto+Sans+Kawi:wght@400;500;600;700&family=Open+Sans&family=Permanent+Marker&family=Rochester&family=Sacramento&family=Satisfy&family=UnifrakturMaguntia&display=swap');

body {
  margin: 0
}

/* STYLES FOR THE MIDNIGHTS CLOCK */
.clock {
  border: 20px solid hsla(275, 100%, 90%, .25);
  border-radius: 50%;
  height: 40rem;
  width: 40rem;
  position: relative;
  padding: 2rem;
  left: -150px;
  top: -150px;
  overflow: hidden;
  animation-duration: 1000ms;
  animation-name: glitch;
  /* animation-delay: 1ms; */
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-5px);
}

.clock-headline {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 35%;
  background: linear-gradient(to right, hsla(223, 24%, 45%, .8) 0%, hsla(200, 28%, 59%, .8) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: .6;
}

.clock-num {
  font-family: serif;
}

.twelve {
  position: absolute;
  top: -5%;
  right: 46.5%;
  font-size: 3rem;
  color: hsla(275, 100%, 90%, .25);
}

.center-dot {
  position: absolute;
  bottom: 46.5%;
  left: 47.5%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: rgb(0, 0, 26);
  border: 2px solid hsla(275, 100%, 90%, .5);
  z-index: 15;
}

.hand {
  width: 50%;
  height: 10px;
  background: hsla(275, 100%, 90%, .25);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  z-index: 10;
  /* transition: all 0.05s; */
  transition-timing-function: cubic-bezier(0, 0, 0, 0);
}

#hour-hand {
  height: 15px;
}

#minute-hand {
  height: 10px;
}

#second-hand {
  height: 5px;
}

/* ERAS SELECTION STYLES */
.eras-container {
  display: grid;
  grid-template-areas: 'debut fearless speak' 'red midnights seagull' 'rep midnights lover' 'folklore midnights evermore';
}

.era {
  width: 100px;
  height: 100px;
  opacity: .6;
  border-radius: 0 !important;
  box-shadow: none !important;
}

.era:hover {
  transform: scale(1.05);
  transition: smooth 5ms;
  opacity: 1;
  z-index: 10;
}

.debut {
  grid-area: debut;
  background-color: #748c6f !important;
}

.fearless {
  grid-area: fearless;
  background-color: #f2c685 !important;
}

.speaknow {
  grid-area: speak;
  background-color: #ad8fab !important;
}

.red {
  grid-area: red;
  background-color: #79323e !important;
}

.seagull {
  grid-area: seagull;
  background-color: #7aa5bf !important;
}

.reputation {
  grid-area: rep;
  background-color: #767273 !important;
}

.lover {
  grid-area: lover;
  background-color: #fab0cf !important;
}

.folklore {
  grid-area: folklore;
  background-color: #767273 !important;
}

.evermore {
  grid-area: evermore;
  background-color: #c5aa92 !important;
}


.midnights {
  grid-area: midnights;
  height: 300px;
  background-color: #020035 !important;
}


/* CLOCK FACE ANIMATION */
@keyframes glitch {
  0% {
    transform: translateX(0);
    transform: translateY(0);
  }

  49% {
    visibility: hidden;
  }

  50% {
    transform: translateX(30px);
    background-color: magenta;
  }

  51% {
    visibility: hidden;
  }

  100% {
    transform: translateY(-30px);
    background-color: aqua;
    visibility: visible;
  }
}