@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Kawi:wght@400;500;600;700&display=swap');

body {
  margin: 0
}

/* STYLES FOR THE MIDNIGHTS CLOCK */
.clock {
  border: 20px solid hsla(275, 100%, 90%, .2);
  border-radius: 50%;
  height: 40rem;
  width: 40rem;
  position: relative;
  padding: 2rem;
  left: -150px;
  top: -150px;
}

.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-5px);
}

.clock-headline {
  text-align: center;
  position: absolute;
  bottom: 0;
  right: 30%;
  background: linear-gradient(to right, hsla(223, 24%, 45%, .8) 0%, hsla(200, 28%, 59%, .8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.clock-num {
  font-family: serif;
}

.twelve {
  position: absolute;
  top: -5%;
  right: 46.5%;
  font-size: 3rem;
  color: hsla(275, 100%, 90%, .2);
}

.hand {
  width: 50%;
  height: 10px;
  background: hsla(275, 100%, 90%, .2);
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
}

#hour-hand {
  height: 15px;
}

#minute-hand {
  height: 10px;
}

#second-hand {
  height: 5px;
}